/* #saffron {
  background-color: orange;
  border: 2px solid black;
  width: 500px;
  height: 100px;
}
#white {
  background-color: white;
  border: 2px solid black;
  width: 500px;
  height: 100px;
}
#green {
  background-color: green;
  border: 2px solid black;
  width: 500px;
  height: 100px;
} */
